<%# <%= simple_form_for :search, { url: 'http://api.opencorporates.com/companies/search?callback=populate_results', remote: true, method: :get } do |f| %1> %>
<%#   <%= f.text_field :q, name: 'q', placeholder: 'Search for a UK company' %1> %>
<%# <% end %1> %>

<div id="company-search">
  <h1>Find a company I control</h1>

  <%= simple_form_for :search, { url: 'http://localhost:3000/sample_oc_api_response.json', remote: true, method: :get } do |f| %>
    <%= f.text_field :q, name: 'q', placeholder: 'Search for a UK company' %>
  <% end %>
</div>

<!-- once we have results -->

<div id="results">
  <%= render :partial => 'results' %>
</div>

<div id="chosenCompany">
  <h1></h1>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Shareholding
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%= simple_form_for @control_relationship, :html => { class: 'shareholder-relationship' } do |f| %>
            <h3><%= @person.name %></h3>
            <%= f.input :details, label: 'Percentage of shares held' %>
            <%= f.input :relationship_type, :input_html =>  { value: 'Shareholding' }, as: :hidden %>
            <%= f.input :person_id, as: :hidden, :input_html => { value: @person.id } %>
            <%= f.simple_fields_for @company do |cf| %>
              <%= cf.input :name, as: :hidden %>
              <%= cf.input :company_number, as: :hidden %>
              <%= cf.input :jurisdiction_code, as: :hidden %>
            <% end %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Majority of Directors
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Control via majority of directors
        </div>
      </div>
    </div>
  </div>
</div>

