<h1>My Details</h1>

<%= simple_form_for(@person, html: { class: "" } ) do |f| %>
  <%= f.input :name %>
  <%= f.input :nationality %>
  <%= f.input :date_of_birth %>
  <%= f.input :address %>

  <%= f.submit 'Submit' %>
<% end %>
