<h1><%= @person.name %></h1>

<dl class="dl-horizontal">
  <dt>Date of birth:</dt>
  <dd><%= @person.date_of_birth.to_date.strftime("%B %Y") %></dd>
  <dt>Nationality:</dt>
  <dd><%= @person.nationality %></dd>
  <dt>Address:</dt>
  <dd><%= @person.address %></dd>
</dl>

<h3>Companies directly controlled:</h3>
<ul>
  <% @child_relationships.each do |r| %>
    <li>
      <%= link_to(r.child.name, r.child) %>
      <ul>
        <% r.child.child_relationships.each do |c| %>
          <%= link_to(c.child.name, c.child) %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<div id="graph-container"></div>

<script>
  sigma.renderers.def = sigma.renderers.canvas
  s = sigma.parsers.json("<%= graph_relationships_person_url(@person) %>", {
      container: 'graph-container',
      settings: {
      drawEdges: true,
      drawLabels: true,
      minNodeSize: 1,
      maxNodeSize: 20,
      batchEdgesDrawing: true,
      labelThreshold: 18,
      sideMargin: 4,
      edgeColor: "default",
      defaultEdgeColor: "#bbb"
      }
      });

    // Start the ForceAtlas2 algorithm:
    s.startForceAtlas2({
      //slowDown: 3,
      linLogMode: false,
      adjustSizes: true,
      strongGravityMode: true
    });

    setTimeout(function() {
      s.killForceAtlas2();

      <%# sigma.plugins.animate( %>
      <%#   s, %>
      <%#     { %>
      <%#       x: 'circular_x', %>
      <%#       y: 'circular_y', %>
      <%#       size: 'circular_size', %>
      <%#       color: 'color' %>
      <%#     } %>
      <%#   ); %>

      //not compatible with WebGL
      <%# sigma.plugins.dragNodes(s, s.renderers[0]); %>
    }, 30000);

</script>
