<h1>Recently added companies</h1>

<div class="standalone-form">
  <%= form_tag('/entities', :method => :get, :class => 'form-search') do %>
    <%= autocomplete_field_tag 'name', '', autocomplete_entity_name_entities_path, :class => "search-query" %>
    <%#= text_field_tag(:q, params[:q], :class => "input-medium search-query") %>
    <%= submit_tag("Search", :class=>"btn") %>
  <% end %>

  <% if params[:name] %>
    <h4>Companies matching '<%= params[:name] %>'</h4>
  <% else %>
    <h4>Recently added companies</h4>
  <% end %>

  <ul class="choose-company-ul">
    <% @entities.each do |entity| %>
    <li class="choose-company">
      <%= link_to entity.name, entity %>
    </li>

    <%- end -%>
  </ul>

  <%= paginate @entities %>
</div>
