<h1>My Details</h1>

<%= simple_form_for(@entity, html: { class: "" } ) do |f| %>
  <%= f.hidden_field :entity_type %>
  <%= f.input :name %>
  <%= f.input :jurisdiction, label: 'Nationality' %>
  <%= f.date_field :date_of_birth %>
  <%= f.input :address, label: 'Public Address' %>

  <%= f.submit 'Submit' %>
<% end %>
