<div id="company-search">
  <h1>Find a company you want to add information for</h1>

  <div class="standalone-form">
    <%= simple_form_for :search, { url: 'http://api.opencorporates.com/companies/search?callback=?', remote: true, method: :get, :html => { :'data-type' => :jsonp } } do |f| %>
      <%= f.text_field :q, name: 'q', placeholder: 'Enter name of company', size: 60 %>
      <%= f.submit 'Search OpenCorporates' %>
    <% end %>
  </div>

</div>

<!-- once we have results -->
<div class="standalone-form results">
  <div id="results" class="new-results">
    <h3>...or <%= link_to "add manually", '#', :class => 'toggle', :data => {:'toggle-el' => "#startingCompany"} %></h3>
  </div>

  <div id="startingCompany" style="display:none">
    <%= simple_form_for @entity, :html => { class: 'shareholder-relationship' } do |f| %>
      <%= f.input :entity_type, as: :hidden, value: 'Company' %>
      <%= f.input :name, label: 'Company Name' %>
      <%= f.input :company_number %>
      <div class="form-group">
      <%= f.label :jurisdiction %>
      <%= f.select(:jurisdiction, choices: Rails.application.config.countries, :html_options => { :class => "form-control" }) %>
      </div>
      <%= hidden_field_tag :subject_type, params[:subject_type] %>
      <%= f.submit 'Add Company' %>
    <% end %>
  </div>
</div>

