<h1>My Details</h1>

<div class="new-form">
	<%= simple_form_for(@entity, html: { class: "" } ) do |f| %>
	  <%= f.hidden_field :entity_type %>
	  <%= f.input :name %>
          <%= f.label :jurisdiction %>
	  <%= f.select :jurisdiction, choices: Rails.application.config.countries %>
	  <%= f.label :date_of_birth %>
	  <%= f.date_field :date_of_birth %>
	  <%= f.input :address, label: 'Address for correspondence' %>
	  <%= f.submit 'SUBMIT' %>
	<% end %>
</div>
