<div id="company-search">
  <h1>Find a company you want to add information for</h1>

  <div class="standalone-form">
	  <%= simple_form_for :search, { url: 'http://api.opencorporates.com/companies/search?callback=?', remote: true, method: :get, :html => { :'data-type' => :jsonp } } do |f| %>
	    <%= f.text_field :q, name: 'q', placeholder: 'Search for a UK company', class: 'search-field' %>
	  <% end %>
  </div>

</div>

<!-- once we have results -->
<div class="standalone-form results">
	<div id="results" class="new-results">
	</div>

	<div id="startingCompany">
	  <%= simple_form_for @company, :html => { class: 'shareholder-relationship' } do |f| %>
	    <%= f.input :name, as: :hidden %>
	    <%= f.input :company_number, as: :hidden %>
	    <%= f.input :jurisdiction_code, as: :hidden %>
	  <% end %>
	</div>
</div>

