<!-- Subject of the relationship -->
<div id='relationship_subject' class="standalone-form">
  <h1><%= @relationship_form.subject.name %></h1>
  <!-- Direction of the relationship -->
  <h3 class="relationship"><%= @relationship_form.predicate %></h3>
</div>

<div id="company-search">

  <%= render :partial => 'entities/search_or_add', :locals => {:entity => @relationship_form.object} %>

</div>

<!-- once we have results -->


<div id="relationship_details" style="display:none">
  <%= simple_form_for @relationship_form, :url => control_relationships_path, :html => { multipart: true, class: 'shareholder-relationship' } do |f| %>
    <!-- Object of the relationship -->
    <div id="chosenCompany">
      <h3><%= @relationship_form.object.name %></h3>
        <%= f.simple_fields_for 'object_attributes' do |cf| %>
          <%= cf.input :name %>
          <%= cf.hidden_field :entity_type, value: 'Company' %>
          <%= cf.input :company_number %>
          <%= cf.input :jurisdiction %>
        <% end %>
      </div>

      <!-- Details of the relationship -->
      <div class="standalone">
        <h3>How control is exercised <em>(choose one)</em></h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Ownership of shares
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body new-form">
                    <label>% shares owned</label>
                    <input class="number optional form-control" id="control_relationship_details" name="control_relationship[details]" type="number">
                  <%= f.input :relationship_type, :input_html =>  { value: 'Shareholding' }, as: :hidden %>
                  <%= f.hidden_field :subject_id %>
                  <%= f.input :document, as: :file %>
                  <%= f.input :document_cache, as: :hidden %>
                  <%= f.input :notes, label: 'Notes' %>
                  <%= f.submit 'ADD RELATIONSHIP'  %>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Voting rights
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Not yet implemented
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Majority control of directors
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Not yet implemented
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Other significant form of influence or control
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                Not yet implemented
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Control of a Trust or Partnership
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                Not yet implemented
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

