<!-- Subject of the relationship -->
<div id='relationship_subject' class="standalone-form">
  <h1><%= @relationship_form.subject.name %></h1>
  <!-- Direction of the relationship -->
  <h3 class="relationship"><%= @relationship_form.predicate %></h3>
</div>

<div id="company-search">

  <%= render :partial => 'entities/search_or_add', :locals => {:entity => @relationship_form.object} %>

</div>

<!-- once we have results -->


<div id="relationship_details" style="display:none">
  <%= simple_form_for @relationship_form, :url => control_relationships_path, :html => { multipart: true, class: 'shareholder-relationship' } do |f| %>
    <%= f.hidden_field :subject_id %>
    <!-- Object of the relationship -->
    <div id="chosenCompany">
      <h3><%= @relationship_form.object.name %></h3>
        <%= f.simple_fields_for 'object_attributes' do |cf| %>
          <%= cf.input :name %>
          <%= cf.hidden_field :entity_type, value: 'Company' %>
          <%= cf.input :company_number %>
          <%= cf.input :jurisdiction %>
        <% end %>
      </div>

      <!-- Details of the relationship -->
      <div class="standalone">
        <h3>How control is exercised <em>(choose one)</em></h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <%- ControlRelationship::POSSIBLE_RELATIONSHIP_TYPES.each_with_index do |(relationship_type, detail_attribs),i| %>

            <%- first_entry = (i==0) -%>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading<%= i %>">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>" class="<%= !first_entry && 'collapsed' %>">
                    <%= relationship_type.titleize %>
                  </a>
                </h4>
              </div>
              <div id="collapse<%= i %>" class="panel-collapse collapse <%= first_entry && 'in' %> role="tabpanel" aria-labelledby="heading<%= i %>" >
                <div class="panel-body new-form">
                    <%- detail_attribs.each do |attrib_name| %>
                      <label><%= attrib_name.titleize %></label>
                      <input class="optional form-control" id="relationship_form_details_<%= attrib_name %>" name="relationship_form[details][<%= attrib_name %>]" type="number" <%= first_entry ? '' : 'disabled' %>>
                    <%- end -%>
                    <%= f.input :relationship_type, disabled: !first_entry, :input_html =>  { value: relationship_type }, as: :hidden %>
                    <%= f.input :document, disabled: !first_entry, as: :file, label: 'Supporting Document' %>
                    <%= f.input :document_cache, disabled: !first_entry, as: :hidden %>
                    <%= f.input :notes, disabled: !first_entry, label: 'Notes' %>
                    <%= f.submit 'ADD RELATIONSHIP'  %>
                </div>
              </div>
            </div>

















          <%- end -%>
        </div>
      </div>
    </div>
  <% end %>

</div>

