<div class="jumbotron">
  <%= image_tag("hero.png", :alt => "Who controls it?") %>
  <h1>WHO CONTROLS IT?</h1>
  <p>A proof-of-concept beneficial ownership database</p>
  <a href="info/about">
    LEARN MORE
  </a>
</div>
<div class="row panels">
  <div class="col-sm-6 col-md-4">
    <a href="<%= new_entity_path(:entity => {:entity_type => 'Person'}) %>">
      <div class="thumbnail">
        <%= image_tag("ido.png", :alt => "I do") %>
        <div class="caption">
          <h3>I CONTROL A COMPANY</h3>
          <p>I want to register my control of a company</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="<%= new_entity_path(:entity => {:entity_type => 'Company'}, :subject_type => 'child') %>">
      <div class="thumbnail">
        <%= image_tag("iknow.png", :alt => "I know") %>
        <div class="caption">
          <h3>ADD CONTROL INFO<br />FOR ANY COMPANY</h3>
          <p>I want to add information on control of a company</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="/entities?entity_type=Company">
      <div class="thumbnail">
        <%= image_tag("tellme.png", :alt => "Tell me") %>
        <div class="caption">
          <h3>EXPLORE THE DATA</h3>
          <p>Discover who controls companies</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="single-col">
  <div class="quote">
    <p>"it is essential... to give the greatest publicity to the affairs of ...companies, that everyone may know on what grounds he is dealing”.</p>Robert Lowe, former UK Chancellor of the Exchequer, when introducing the 1856 Companies Act
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Welcome to WhoControlsIt</h4>
      </div>
      <div class="modal-body">
        <p>This is a proof-of-concept beneficial ownership database from the team behind OpenCorporates.</p>
        <p>All data is temporary and will be reset every 24 hours</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).ready( function() {
      // show modal based on first visit cookie OR anything in the querystring
      if ($.cookie('pop') == null || location.search) {
      $('#myModal').modal('show');
      $.cookie('pop', '7');
      }
  })
</script>
